0_trunk/LPS/LPS.LeafWeigh/Service References/LPSSer/LPS.Model.Pur.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LPS.Model.Pur" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LPS.Model.Pur" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LPS.Model" />
  <xs:complexType name="ArrayOfFarmerRfidOR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FarmerRfidOR" nillable="true" type="tns:FarmerRfidOR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFarmerRfidOR" nillable="true" type="tns:ArrayOfFarmerRfidOR" />
  <xs:complexType name="FarmerRfidOR">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/LPS.Model" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="FarmerId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rfid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FarmerRfidOR" nillable="true" type="tns:FarmerRfidOR" />
</xs:schema>