0_trunk/LPS/LPS.LeafWeigh/Service References/LPSSer/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LPS.Services" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LPS.Model.Sys" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LPS.Model.Pur" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LPS.Services" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LPS.Services" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPWD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LPS.Model.Sys" minOccurs="0" name="LoginResult" nillable="true" type="q3:EmpolyeeOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFarmerRfid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LPS.Model.Pur" minOccurs="0" name="ListOR" nillable="true" type="q4:ArrayOfFarmerRfidOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFarmerRfidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveFarmerRfidResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>