0_trunk/LPS/LPS.RFD/Service References/LPSSer/LPS.Model.Sys.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LPS.Model.Sys" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LPS.Model.Sys" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmpolyeeOR">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmpolyeeAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpolyeeBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmpolyeeCardId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpolyeeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpolyeeCreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmpolyeeDeletedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmpolyeeEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpolyeeEntryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmpolyeeHometown" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpolyeeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpolyeeIsDeleted" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpolyeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpolyeePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpolyeePy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpolyeeRfid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpolyeeSex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:int" />
      <xs:element minOccurs="0" name="ResultMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoseNameList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPwd" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpolyeeOR" nillable="true" type="tns:EmpolyeeOR" />
</xs:schema>